@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Lexend+Zetta&family=Lexend+Peta&family=Handjet:wght@220&display=swap');

body {
  margin: 0;
  font-family: 'Lexend Exa';
  background-image: url('../images/Fondo.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  border: 1px solid #999595;
  backdrop-filter: blur(20px);
}

.text-white {
  color: white !important;
}

.text-green {
  color: #00FF26 !important;
}

.text-red {
  color: #F90004 !important;
}

#NombrePag {
  display: flex;
  flex-direction: row;
}

.custom-table {
  background: transparent !important;
  color: white;
}

.custom-table th,
.custom-table td {
  background: transparent !important;
  border-color: rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
}

.custom-table thead th {
  background: rgba(255, 255, 255, 0.1) !important;
}

.market-font {
  font-family: 'Handjet', sans-serif;
  font-weight: 300;
  font-size: 2.7rem;
  text-transform: uppercase;
  height: 40px; 
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.market-title {
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.apple-logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.apple-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


/*ID de la pagina de config*/
#CardConf{
  min-height: 550px;
}

#CardAccount{
  min-height: 250px;
}

#CardSupport{
  min-height: 250px;
}

/*ID de la pagina de dashboard*/

#CardGlobal{
  flex: 1;
}


#stockChart{
  height: 300px;
}
.astronaut-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Mantenerlo detrás de la tarjeta */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  overflow: hidden;
}

.astronaut-bg img {
  width: 100%; /* Ocupar todo el ancho */
  height: auto; /* Mantener la proporción */
  max-width: none; /* Evitar restricciones de Bootstrap */
  opacity: 0.5; /* Opcional: Hacerlo más sutil */
}
.modal {
  z-index: 1055 !important; /* Asegura que el modal está por encima de otros elementos */
  backdrop-filter: blur(5px) !important; /* Reducir el blur si está interfiriendo */
}

.modal-backdrop {
  display: none !important; /* Evita que el fondo del modal bloquee la página */
}


.modal-content {
  background: rgba(255, 255, 255, 0.85) !important; /* Mejor visibilidad del modal */
  border-radius: 10px;
}

