body {
    font-family: 'Lexend Exa', sans-serif;
    background: linear-gradient(180deg, #1D0062 0%, #0B0024 32%, black 100%);
    color: white;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  .gradient-body {
    background: linear-gradient(180deg, black 0%, #014251 50%, #06D1FF 100%);
  }
  
  .card-custom {
    background: #D9D9D9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    color: black;
  }
  
  .footer {
    color: white;
  }
  
  .btn-primary-custom {
    background: linear-gradient(180deg, #090CBA 0%, #120447 100%);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .btn-secondary-custom {
    background: linear-gradient(180deg, #BA0909 0%, #FF9500 100%);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .icon {
    width: 50px;
    height: auto;
  }
  
  .BloqueArriba {
    margin-bottom: 100px;
  }
  
  .fila {
    margin-top: 100px;
  }
  
  .foot {
    margin: 50px;
  }
  